body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    ::-webkit-scrollbar {
      display: none;
    }

    .games-container {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      background-color: rgb(45, 112, 213);
    
      .game-item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        background-color: rgb(189, 12, 12);
    
        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
        }
    
        h3 {
          font-size: 18px;
        }
    
        p {
          font-size: 14px;
        }
      }
    }
  }
  
  
  